{% if include.subtitle %}
  {% assign class_sub = "with-subtitle" %}
{% endif %}
<div class="minimal-header" id="site-header">    
    <div class="minimal-header-name">
        {{ include.title }}
    </div>
    {% if include.subtitle %}
        <div class="minimal-header-subtitle">{{ include.subtitle }}</div>
    {% endif %}
    {% if include.link %}
        <a class="minimal-header-link" href="{{ include.link.ref | relative_url }}">{{ include.link.title }}</a>
    {% endif %}
    <div class="minimal-header-logo">
        <a href="http://w3.org/">
            <img alt="W3C" src="{{ "/assets/images/w3c2.svg" | relative_url }}" width="92" height="44"/>
        </a>
        <a href="{{ "/" | relative_url }}">
            <img alt="Web Accessibility Initiative" src="{{ "/assets/images/wai.svg" | relative_url }}"/>
        </a>
    </div>
</div>
