{% if include.subtitle %}
  {% assign class_sub = "with-subtitle" %}
{% endif %}
<div class="minimal-header {{ class_sub }}" id="site-header">
    <span class="minimal-header-name">
        {{ include.title }}
        {% if include.subtitle %}
            <span class="minimal-header-subtitle">{{ include.subtitle }}</span>
        {% endif %}
        {% if include.aboutnav %}
            <span class="minimal-header-aboutnav">{{ include.aboutnav }}</span>
        {% endif %}
    </span>
    <div class="minimal-header-logo">
        <a href="http://w3.org/">
            <img alt="W3C" src="{{ "/assets/images/w3c2.svg" | relative_url }}" width="92" height="44"/>
        </a>
        <a href="{{ "/" | relative_url }}">
            <img alt="Web Accessibility Initiative" src="{{ "/assets/images/wai.svg" | relative_url }}"/>
        </a>
    </div>
</div>
