{% comment %}
include file providing Pager for Design Guide

 Parameters:
  page.ref
  site.objectives
  site.patterns
{% endcomment %}

<style>
.pager--item.context {
flex: 100%;
background: var(--cloudy-subtle);
margin: -8px -8px 8px;
padding: 8px;
text-align: center;
}

.pager {
background-color: #ffffff;
background-color: var(--pure-white);
border: 1px solid #ddd;
border: 1px solid var(--line-grey);
margin-top: 32px;
color: green;
}

.pager > ul {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
-ms-flex-line-pack: center;
    align-content: center;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
margin: 0;
padding: 8px;
}

.pager--item {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
        flex: 0 1 50%;
}

.pager--item:only-child {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.pager--item {
list-style: none;
margin:0;
}

.pager--item a:link {
color: #005A6A;
color: var(--wai-green);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-flex: 1;
    -ms-flex: 1 100%;
        flex: 1 100%;
text-decoration: none;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.pager--item a:visited {
color: #660066;
color: var(--visited-link);
}

.pager--item a:hover,
.pager--item a:focus {
color: #003366;
color: var(--w3c-blue);
}

.pager--item a:active {
color: #005A6A;
color: var(--wai-green);
}

[dir="ltr"] .pager--item.next a {
text-align: right;
}

[dir="rtl"] .pager--item.next a {
text-align: left;
}

.pager--item.next a {
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
-webkit-box-pack: end;
    -ms-flex-pack: end;
        justify-content: flex-end;
}

.pager--item-icon {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
font-size: 33px;
}

[dir="ltr"] .pager--item-text {
margin-right: 8px;
}

[dir="rtl"] .pager--item-text {
margin-left: 8px;
}

[dir="ltr"] .pager--item-text {
margin-left: 8px;
}

[dir="rtl"] .pager--item-text {
margin-right: 8px;
}

.pager--item-text {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-flex: 1;
    -ms-flex: 1 auto;
        flex: 1 auto;
width: 100%;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}

.pager--item-text-direction {
color: #1d1d1d;
color: var(--off-black);
font-size: 12px;
font-size: .75rem;
}

.pager--item-text-target {
font-size: 16px;
font-size: 1rem;
line-height: 1;
}
</style>


{% comment %}
Decode the ref in frontmatter and decide if pattern or objective
{% endcomment %}
{% assign parts = page.ref | split: "p" %}
{% if parts.size > 1 %}
{% assign pattern_num =  parts | last %}
{% assign pattern_ref = 'p' | append: pattern_num %}
{% endif %}
{% assign objective_ref = parts | first %}
{% assign objective_num = objective_ref | remove: "o" %}
{% if pattern_num != nil %}
{% assign is_pattern = true %}
{% else %}
{% assign is_pattern = false %}
{% endif %}

{% comment %}
Assign collection and item_num variables 
{% endcomment %}
{% if is_pattern %}
{% assign collection = site.patterns | where_exp:"item", "item.ref contains objective_ref" %}
{% assign item_num = pattern_num %}
{% else %}
{% assign collection = site.objectives %}
{% assign item_num = objective_num %}
{% endif %}

{% comment %}
Figure out next and prev numbers 
{% endcomment %}
{%- assign size = collection | size -%}
{%- assign next_num = item_num | replace: size, "-1" | plus: 1 %}
{%- assign prev_num = item_num | minus: 1 %}

{% comment %}
Figure out next and refs and get items from collections
{% endcomment %}
{% if is_pattern %}
{% assign prefix = objective_ref | append: "p" %}
{% else %}
{% assign prefix = 'o' %}
{% endif %}
{% if prev_num != 0 %}
{% assign prev_ref = prefix | append: prev_num %}
{% endif %}
{% if next_num != 0 %}
{% assign next_ref = prefix | append: next_num %}
{% endif %}
{%- assign next_item = collection | find_exp: "item", "item.ref == next_ref" -%}
{%- assign prev_item = collection| find_exp: "item", "item.ref == prev_ref" -%}
{% if is_pattern %}
{%- assign context_item = site.objectives | find_exp: "obj", "obj.ref == objective_ref" -%}
{% endif %}

{% comment %}
Set up tuples for the tag widgets
{% endcomment %}
{% if is_pattern %}
{% assign item_type = "Pattern" %}
{% assign context_type = "Objective" %}
{% else %}
{% assign item_type = "Objective" %}
{% endif %}
{% if prev_item %}
{% assign prev = "Previous " | append: item_type | append: "??" | append: prev_item.url | append: "??" | append: prev_item.title | split: "??" %}
{% endif %}
{% if next_item %}
{% assign next = "Next " | append: item_type | append: "??" | append: next_item.url | append: "??" | append: next_item.title | split: "??" %}
{% endif %}
{% if context_item %}
{% assign context = "Part of " | append: context_type | append: "??" | append: context_item.url | append: "??" | append: context_item.title | split: "??" %}
{% else %}
{% assign context = "Part of " | append: "??" | append: "../../supplemental-guidance" | append: "??" | append: "All Supplemental Guidance" | split: "??" %}
{% endif %}

{% comment %}
params: 3 3 tuples: context (optional), prev, next. Each contains: label, url, text
{% endcomment %}
<nav class="pager" aria-label="Previous/Next Page">
<ul id="navigation">
  {% if context %}
   <li class="pager--item context"><a href="{{ context[1] }}"><span class="pager--item-text"><span class="pager--item-text-direction">{{ context[0] }}: </span><span class="pager--item-text-target">{{context[2]}}</span></span></a></li>
  {% endif %}
   <li class="pager--item previous"><a href="{{ prev[1] }}">
         <svg focusable="false" aria-hidden="true" class="icon-arrow-left pager--item-icon" viewBox="0 0 25 28">
            <path d="M24 14v2c0 1.062-0.703 2-1.828 2h-11l4.578 4.594c0.375 0.359 0.594 0.875 0.594 1.406s-0.219 1.047-0.594 1.406l-1.172 1.188c-0.359 0.359-0.875 0.578-1.406 0.578s-1.047-0.219-1.422-0.578l-10.172-10.187c-0.359-0.359-0.578-0.875-0.578-1.406s0.219-1.047 0.578-1.422l10.172-10.156c0.375-0.375 0.891-0.594 1.422-0.594s1.031 0.219 1.406 0.594l1.172 1.156c0.375 0.375 0.594 0.891 0.594 1.422s-0.219 1.047-0.594 1.422l-4.578 4.578h11c1.125 0 1.828 0.938 1.828 2z"></path>
         </svg><span class="pager--item-text"><span class="pager--item-text-direction">{{ prev[0] }}: </span><span class="pager--item-text-target">{{ prev[2] }}</span></span></a></li>
   <li class="pager--item next"><a href="{{ next[1] }}">
         <svg focusable="false" aria-hidden="true" class="icon-arrow-right pager--item-icon" viewBox="0 0 23 28">
            <path d="M23 15c0 0.531-0.203 1.047-0.578 1.422l-10.172 10.172c-0.375 0.359-0.891 0.578-1.422 0.578s-1.031-0.219-1.406-0.578l-1.172-1.172c-0.375-0.375-0.594-0.891-0.594-1.422s0.219-1.047 0.594-1.422l4.578-4.578h-11c-1.125 0-1.828-0.938-1.828-2v-2c0-1.062 0.703-2 1.828-2h11l-4.578-4.594c-0.375-0.359-0.594-0.875-0.594-1.406s0.219-1.047 0.594-1.406l1.172-1.172c0.375-0.375 0.875-0.594 1.406-0.594s1.047 0.219 1.422 0.594l10.172 10.172c0.375 0.359 0.578 0.875 0.578 1.406z"></path>
         </svg><span class="pager--item-text"><span class="pager--item-text-direction">{{ next[0] }}:</span><span class="pager--item-text-target">{{ next[2] }}</span></span></a></li>
</ul>
</nav>


